@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700')

$font-stack: 'Montserrat', sans-serif

// COLORS:

// -primary-
$cl-primary: #AF7AC5
$cl-primary-l1: #C39BD3
$cl-primary-d1: #9B59B6
$cl-primary-d2: #884EA0
$cl-primary-d3: #76448A

// -box shadows-
$cl-shadow-light: rgba(0, 0, 0, .2)


$color-white: #f9f9f9

// -black colors-
$cl-black: #161616
$cl-black-l1: #242424
$cl-black-l2: #323232
$cl-black-l3: #484848



// -paragraphs-
$color-softer-black: #656565

$color-silver: #E5E7E9
$color-gray: #646464
$color-gray-light: #808080
$color-gray-lighter: #999

$color-hlight-red: #E73C7E
