+media-maxw(1024px)
  .login-box

    &__title
      font-size: 2.5em
      margin-top: .3em

+media-maxw(640px)
  .login-box

    &__title
      font-size: 1.75em

+media-maxw(480px)
  .login-box

    &__title
      font-size: 1.5em
