+media-maxw(1440px)
  .users-online_visible
    margin-right: 2em
    width: 20em

  .chat
    width: 60%

+media-maxw(1360px)
  .login-box__title
    font-size: 2em

+media-maxw(1024px)
  .users-online

    &_visible
      width: 12em

    .users-list__user
      flex-direction: column

      .user
        &__image-wrapper
          margin: 0
          width: 4em

        &__name, &__sign
          text-align: center

  .chat
    width: 70%

  .login-box__title
    margin-top: .3em

+media-maxw(860px)
  .main
    flex-direction: column

  .users-online
    transition: opacity 975ms 375ms, visibility 975ms 375ms, height 900ms, height 900ms, margin-right 675ms 825ms, transform 1125ms 225ms

    &_hidden
      height: 0
      transform: rotateX(-90deg)
      width: 100%

    &_visible
      height: 16em
      margin-right: 0
      transform: rotateX(0)
      transform-origin: bottom
      width: 100%

    .main-section
      height: 100%
      overflow-x: auto

    .users-list
      box-sizing: border-box
      display: flex
      flex-flow: row nowrap
      height: 100%
      padding: 1em
      padding-right: 0

      &__user
        flex-shrink: 0
        padding: 0
        margin-bottom: 0
        margin-right: 2em
        max-width: 10em

        &::before, &::after
          display: none

        &:hover::before, &:hover::after
          display: none

        &:last-child
          margin-right: 0
          padding-right: 1em

        .user
          &__image-wrapper
            height: 3em
            min-height: 3em
            min-width: 3em
            width: 3em

          &__info-wrapper
            justify-content: flex-start
            overflow: hidden

    .line-bottom
      border-bottom: .125em solid lighten($color-black-light, 50%)

  .chat
    width: 100%

+media-maxh(800px)
  .header
    margin: 1em 0 2em

+media-maxw(768px)
  #root
    background: none

  .header
    color: $color-black-lighter

    &_may-be-disabled
      display: none

  .main
    margin-bottom: 0
    flex: auto

  .users-online, .chat
    background-color: white
    box-shadow: none

  .chat
    flex: auto

    &__button
      display: none

    .line-bottom
      min-height: 3em

  .footer

    &__navigation
      color: $color-black-lighter

    &_may-be-disabled
      display: none

    .unordered-list__anchor
      transition: none

      &:hover
        color: inherit

      &::after
        display: none
        height: 0
        background-color: unset
        transition: none

      &:hover::after
        width: inherit

+media-maxh(768px)
  .users-online, .chat
    height: 32em

  .login-box__title
    font-size: 2em
    margin: 0 0 .25em

+media-maxw(640px)
  .login-box__title
    font-size: 1.75em

+media-maxw(480px)
  .header
    margin: 1em 0

    &__title, &__description
      line-height: 1.4

    &__title
      font-size: 2em

    &__description
      font-size: .85em

  .login-box__title
    font-size: 1.5em

+media-maxw(425px)
  .language-chooser
    width: 90%

+media-maxw(375px)
  .form-section
    margin-bottom: 1em

+media-maxw(360px)
  .footer

    &__navigation
      padding: 1em 1em

    .unordered-list__list-item
      font-size: .9em
      margin-right: 1em
