.chat
  background-color: white
  box-shadow: 0 .125em 1em $cl-shadow-light
  display: flex
  height: 42em
  max-height: 90%
  max-width: 60em
  width: 90%

  &__side-panel, &__main-panel
    @extend %flex-col-nowrap

  &__side-panel
    background-color: $cl-primary
    width: 30%

  &__fade-component
    background-color: $cl-half-opaque
    height: 100%
    left: 0
    position: absolute
    top: 0
    transition:
      duration: 350ms
      property: opacity, visibility
      timing-function: ease-out
    width: 100%
    z-index: 9

    &_visible
      visibility: visible
      opacity: 1

    &_hidden
      visibility: hidden
      opacity: 0

  &__main-panel
    width: 70%

  &__control-button
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    margin-right: .5em
    outline: none
    padding: 0 .5em

    &_menu
      display: none
      margin-right: 1em

    &:last-child
      margin-right: 0

    &:hover .control-button__svg
      fill: $cl-gray-l3

.control-button
  &__svg
    fill: $cl-gray-l2
    height: auto
    pointer-events: none
    transition: fill 200ms ease-out
    width: 1.5em
