.side-panel
  &__search-container, &__controls-container
    display: flex
    height: 2em
    min-height: 2em
    padding: 1em

  &__search-container
    border-bottom: .0625em solid $cl-primary-d2

  &__controls-container
    border-top: .0625em solid $cl-primary-d2

  &__online-container
    flex: auto
    overflow-y: auto

  &__search-field
    background-color: $cl-primary-l1
    border: 0
    font-family: $font-stack
    outline: none
    padding: .5em 1em
